.card {
    background: white;
    color: black;
    flex: 1 1 30rem; 
    max-width: 36rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    font-size: 2rem;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
    gap: 1rem;
}

.card img {
    width: 100%;
    height: 25rem;
    object-fit: scale-down;
}

.card h3 {
    font-size: 2.4rem;
    font-weight: 800;
    margin-top: 1rem;
    padding: 0 2rem;
}

.card p {
    font-size: 1.6rem;
    padding: 0 2rem;
    margin-bottom: 0.5rem;
}

.card .btn {
    width: 50%;
    align-self: center;
}

.card .descripcion {
    font-size: 1.4rem;
    color: #555;
    flex-grow: 1;
}

.card .precio {
    font-size: 2rem;
    font-weight: bold;
    color: #0057AD;
    margin: 1rem 0;
}