/* =========================================
   ESTRUCTURA PRINCIPAL DE LA APP
   ========================================= */

/* Contenedor principal centrado */
main {
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
    flex: 1; /* Permite que el contenido empuje el footer hacia abajo */

    display: flex;
    flex-direction: column;
    align-items: center;
}