/* =========================================
   RESET Y ESTILOS BASE
   ========================================= */

/* Reseteo universal para eliminar margenes por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definición de la unidad REM (1rem = 10px) */
html {
    font-size: 62.5%;
}

/* Configuración del cuerpo y tipografía */
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    color: black;
    line-height: 1.5;
    font-size: 1.6rem;
}

/* Layout principal (Sticky Footer adaptado a React) */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* =========================================
   TIPOGRAFÍA Y COMPONENTES GLOBALES
   ========================================= */

/* Títulos principales */
h1 {
    color: rgb(68, 68, 68);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
}

/* Subtítulos */
h2 {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

/* Botón estándar (Azul) */
.btn {
    display: inline-block;
    background-color: #0057AD;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #004080;
}

a {
    text-decoration: none;
}